# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# Distribución / empaquetado
build/
dist/
*.egg-info/

# ==========================
# Virtual Environments
# ==========================
venv/
env/
.venv/

# ==========================
# Jupyter Notebooks
# ==========================
.ipynb_checkpoints/

# ==========================
# IDEs
# ==========================
.vscode/
.idea/

# ==========================
# Logs
# ==========================
*.log

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Environment Variables
# ==========================
.env

# ==========================
# Data
# ==========================
data/raw/*
data/interim/*
data/processed/*

# Mantener estructura de carpetas
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep

# ==========================
# Reports
# ==========================
reports/figures/*
!reports/figures/.gitkeep